*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  --button-border-radius: 100px;
  --button-bg: #fff;
  --button-text: #000;
  --button-bg-hover: #d8d4cf;
  --button-text-hover: #fff;
  --button-filler: #0da34e;
  --color-bg: #ccc;
}

.button {
  cursor: pointer;
  border: none;
  color: var(--button-text);
  background: var(--button-bg);
  border-radius: var(--button-border-radius);
  padding: 0 2rem;
  /* min-width: 14rem; */
  height: 3.5rem;
  margin: 1rem;
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button--hover {
  border: none;
  color: var(--button-text-hover);
}

.button__filler {
  background: var(--button-filler);
  position: absolute;
  width: 150%;
  height: 200%;
  border-radius: 50%;
  top: -50%;
  left: -25%;
  transform: translate3d(0, 75%, 0);
}

.button__text,
.button__text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  font-size: 0.75rem;
  font-weight: 600;
}

