* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica";
}

:root {
  --white: #ffffff;
  --black: #111111;
  --blue: #4f5bff;
  --green: #0da34e;
  --contrast: #9e9e9e;
}

html,
body {
  min-height: 100%;
  width: 100%;
  background-color: var(--black);
}

main {
  position: relative;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 0.5rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.01rem solid var(--contrast);
}

.nav-logo img {
  height: 0.9rem;
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-link {
  color: var(--white);
  font-size: 0.7rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--green);
  }
}

/* HIGHLIGHT NAVIGATION -- MOBILE */

.sm-media-nav {
  display: none;
}
