@font-face {
  font-family: "helvetica";
  src: url("../assets/fonts/helveticanowvar.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/robotomonovariable.ttf");
}

a {
  text-decoration: none;
}

/* Morph Button -- SVG Manipulation */
.morph-btn {
  position: relative;
  width: 125px;
  height: 50px;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
  font-family: sans-serif;
}

.morph-btn-stagger-wrapper {
  cursor: pointer;
  user-select: none;
  line-height: 0.9;
  color: #ffffff;
}

.morph-btn-stagger__text-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: red;
}

.btn-stagger__text {
  position: relative;
  z-index: 1;
  font-size: 0.7rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  line-height: 34px;
  width: 100%;
  display: block;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
}

.morph-btn-svg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.morph-btn-svg-wrap svg {
  width: 100%;
  height: 100%;
  display: block;
}

.morph-btn-svg-wrap #morphBtnTarget {
  display: none;
}

/* BTN CLOSE ___ MENU BTN */
.menu-btn {
  display: none;
  position: relative;
}

#menu-btn-close {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}

/* GREEN TEXT */
.t--green {
  color: var(--green);
}

.play-icon {
  display: block;
  width: 40px;
  height: 40px;
}

/* CURSOR - Mouse Follower Coursor */
.mf-cursor {
  /* mix-blend-mode: difference !important; */
  color: var(--green);
}

.mf-cursor__inner {
  background: currentColor !important;
}

/* Card opacity classlist -- OPACITY */
.cardVideo-opacity1 {
  opacity: 1;
}

.cardVideo-opacit0 {
  opacity: 0;
}
/* active tabs */
.tab-btn.active {
  color: var(--green); /* Optional, adjust to your palette */
}
